@media (max-width: 1100px) {
  html {
    font-size: 8px;
  }
  .footer-main {
    grid-template-columns: 1fr 1fr;
  }
  .nav-links {
    display: flex;
    z-index: -1;
    flex-direction: column;
    padding: 80px 0px 50px;
    gap: 50px;
    top: -100%;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: antiquewhite;
    transition: 0.5s;
  }
  .navshow {
    transition: 0.5s;
    top: 120px;
  }
  .main-section-2-contact {
    grid-template-columns: 1fr 1fr !important;
  }
  .cart-btns {
    display: none;
  }
  .menu {
    display: block;
  }
  .sec1-home-flex {
    flex-direction: column;
  }
  .sec-1-left-pic {
    width: 100%;
    height: 300px;
  }
  .main-section-2-about {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 6px;
  }
  .sec-1-right-girl {
    height: 50vh;
  }
  .footer-main {
    grid-template-columns: 1fr;
  }
  .details-columns-main {
    flex-direction: column;

    gap: 50px;
  }
  .main-section-2-contact {
    grid-template-columns: 1fr !important;
  }
}
@media (max-width: 350px) {
  html {
    font-size: 5px;
  }
}
