.section-1-shop {
  background-image: url("../images/contactmain.webp");
  background-position: center;
  background-size: 100%;
  width: 100%;
  padding: 150px 0px;
  background-repeat: no-repeat;
}
.section-1-shop h1 {
  color: white;
}
.section-2-shop {
  padding: 150px 0px;
}
.section-2-shop .main-grid {
  margin: 50px 0px;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item img {
  width: 100%;
}
.item .para {
  text-align: center;
  color: rgb(252, 160, 104);
}
