{% extends "base.html" %} {% block content %}
<section class="section-1-about">
  <div class="container">
    <h1 class="heading">Contact</h1>
  </div>
</section>
<section class="section-2-contact">
  <div class="container">
    <div class="main-section-2-contact">
      <div class="contacts-cols">
        <h1 class="heading">Phone :</h1>
        <p class="para">+ (567) 1234-567-8900</p>
      </div>
      <div class="contacts-cols">
        <h1 class="heading">Address :</h1>
        <p class="para">+ (567) 1234-567-8900</p>
      </div>
      <div class="contacts-cols">
        <h1 class="heading">Email :</h1>
        <p class="para">peacefulqode@gmail.com</p>
      </div>
      <div class="contacts-cols">
        <h1 class="heading">Hour :</h1>
        <p class="para">+ Mon-Fri:8Am -9Pm</p>
        <p class="para">Sat: 9Am - 4Pm</p>
      </div>
    </div>
  </div>
</section>
<section class="section-3-contact">
  <div class="container">
    <div class="main-section-3-contact">
      <div class="form-image">
        <img
          src="{{ url_for('static', filename='images/about-section2-image.webp') }}"
          alt=""
        />
      </div>
      <div class="login-form">
        <h1 class="heading">How To Find US</h1>
        <p class="para">
          Jewellery comes in a wide variety of styles, from simple and
          minimalist to elaborate and ornate.
        </p>

        <div class="main-inputs">
          <div class="name-inputs">
            <input
              label="name"
              id="fullname"
              type="text"
              placeholder="Full Name"
            />
            <input
              label="email"
              id="email_id"
              type="email"
              placeholder="Your Email"
              required
            />
          </div>
          <div>
            <input label="title" type="text" placeholder="Enter a title" />
          </div>
          <textarea
            label="message"
            placeholder="Type your message here"
            required
            name=""
            id="message"
            cols="30"
            rows="10"
          ></textarea>
          <button class="main-btn" onclick="Sendmail()">submit</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.104063129309!2d-0.13399018795573686!3d51.51130681030055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604d248ad83b7%3A0x867d7d1b553a3c7e!2s5%20Lisle%20St%2C%20London%20WC2H%207BF!5e0!3m2!1sen!2suk!4v1686826899133!5m2!1sen!2suk"
    height="450"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
{% endblock %}
