{% extends "base.html" %} {% block content %}
<section class="section-1-shop">
  <!-- Section 1 / Shop header  -->
  <div class="container">
    <h1 class="heading">Shop</h1>
  </div>
</section>

<!-- Section 2 / Products  -->
<section class="section-2-shop">
  <div class="container">
    <h1 class="heading">Our Jewellery Selection</h1>
    <div class="main-grid">
      <div class="item">
        <img
          src="https://assets-global.website-files.com/63f461527bd06bcb77cb9570/63f472ad1dc162936a707e1b_9.jpg"
          alt=""
        />
        <h2 class="small-heading">Bangle crystals knots</h2>
        <p class="para">$500 USD</p>
      </div>
      <div class="item">
        <img
          src="https://assets-global.website-files.com/63f461527bd06bcb77cb9570/63f472ad1dc162936a707e1b_9.jpg"
          alt=""
        />
        <h2 class="small-heading">Bangle crystals knots</h2>
        <p class="para">$500 USD</p>
      </div>

      <div class="item">
        <img
          src="https://assets-global.website-files.com/63f461527bd06bcb77cb9570/63f472ad1dc162936a707e1b_9.jpg"
          alt=""
        />
        <h2 class="small-heading">Bangle crystals knots</h2>
        <p class="para">$500 USD</p>
      </div>
      <div class="item">
        <img
          src="https://assets-global.website-files.com/63f461527bd06bcb77cb9570/63f472ad1dc162936a707e1b_9.jpg"
          alt=""
        />
        <h2 class="small-heading">Bangle crystals knots</h2>
        <p class="para">$500 USD</p>
      </div>
      <div class="item">
        <img
          src="https://assets-global.website-files.com/63f461527bd06bcb77cb9570/63f472ad1dc162936a707e1b_9.jpg"
          alt=""
        />
        <h2 class="small-heading">Bangle crystals knots</h2>
        <p class="para">$500 USD</p>
      </div>

      <div class="item">
        <img
          src="https://assets-global.website-files.com/63f461527bd06bcb77cb9570/63f472ad1dc162936a707e1b_9.jpg"
          alt=""
        />
        <h2 class="small-heading">Bangle crystals knots</h2>
        <p class="para">$500 USD</p>
      </div>
      <div class="item">
        <img
          src="https://assets-global.website-files.com/63f461527bd06bcb77cb9570/63f472ad1dc162936a707e1b_9.jpg"
          alt=""
        />
        <h2 class="small-heading">Bangle crystals knots</h2>
        <p class="para">$500 USD</p>
      </div>
      <div class="item">
        <img
          src="https://assets-global.website-files.com/63f461527bd06bcb77cb9570/63f472ad1dc162936a707e1b_9.jpg"
          alt=""
        />
        <h2 class="small-heading">Bangle crystals knots</h2>
        <p class="para">$500 USD</p>
      </div>
      <div class="item">
        <img
          src="https://assets-global.website-files.com/63f461527bd06bcb77cb9570/63f472ad1dc162936a707e1b_9.jpg"
          alt=""
        />
        <h2 class="small-heading">Bangle crystals knots</h2>
        <p class="para">$500 USD</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
